// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-blue-dark: #2b3990;
$color-blue-light: #6b75b2;

$color-cyan-dark: #05c6c1;
$color-cyan-light: #50d4d7;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-gray-light-3: #eaeaea;
$color-gray-light-4: #9e9e9e;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
$display-font: dana !important;

// BREAKPOINTS
$bp-largest: 75em; //1200px / 16 = 75em
$bp-large: 68.75em; //1100px
$bp-medium: 57.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px
